<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Diary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Diary.Properties.Settings>
      <setting name="IsMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Diary</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>SQLEXPRESS</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>admin2</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>localhost</value>
      </setting>
    </Diary.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="ApplicationDbContext" connectionString="Server=(local)\SQLEXPRESS;Database=Diary;User Id=admin;Password=admin;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>